/* use this file to style your iml300 portfolio homepage */
p {
    font-family: Arial, Helvetica, sans-serif;
    
}

h1, h2, h3, p, a, footer {
    padding-left: 2rem; 
    padding-right: 2rem;
}

/* grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
    padding: 1rem;
    width: 100%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.grid-item a {
    margin-bottom: 1rem;
    font-family: "Helvetica Neue", sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.grid-item a:hover {
    text-decoration: underline;
}

.grid-item iframe {
    width: 100%;
    height: 400px; 
    border: 1px solid #000;
    background-color: white;
}