
body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
 }

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-text {
    font-size: 1.2rem; 
    font-weight: 300; 
    margin-bottom: 20px; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7); 
    letter-spacing: 2px;
}
.buttons {
    display: flex;
    gap: 15px; 
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}

.button {
    text-decoration: none; 
    color: inherit; 
    border: 1px solid currentColor; 
    padding: 5px 10px; 
    margin-top: 15px;
    min-width: 50px;
    border-radius: 8px; 
    transition: background-color 0.4s ease, color 0.4s ease; 
    font-size: 0.8rem; 
    letter-spacing: 1px; 
    text-align: center;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.6); 
    color: black !important; 
    cursor: pointer;
}